@using WorldWideBasketball.Models;
@model WorldWideBasketball.Models.LogingInfo;
@{
    ViewBag.Title = "Liga";
}

<div class="text-center">
    @{Liga liga = (Liga)Model.getObject();
        <h1 class="display-4">Informação Liga: @liga.Nome</h1>

        foreach (Equipa a in liga.Equipas)
        {
            <p><a href="https://docs.microsoft.com/aspnet/core">@a.Name</a></p>
            Console.WriteLine(a.Name);
            List<Jogo> l = new List<Jogo>();
            l = liga.JogosEquipa.GetValueOrDefault(a.Id);
            {
                foreach (Jogo j in l)
                {
                    Console.WriteLine(j.Resultado);
                        <p><a href="#">@j.Equipa_Casa ---- @j.Resultado ---- @j.Equipa_Vis.</a></p>
                    }

            }
        }

    }

</div>